<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.limexc.sie.mapper.UpmsRofuTMapper">

    <!--
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    -->

    <resultMap id="upmsRofuTQuery" type="cn.limexc.sie.entity.vo.UpmsRofuTQuery">
        <id property="rofuId" column="rfid" jdbcType="INTEGER"/>
        <result property="rofuUserid" column="userid" jdbcType="INTEGER"/>
        <result property="rofuNote" column="note" jdbcType="VARCHAR"/>
        <association  property="upmsRoleT" javaType="cn.limexc.sie.entity.UpmsRoleT">
            <id property="roleId" column="rid" jdbcType="INTEGER"/>
            <result property="roleNo" column="rno" jdbcType="INTEGER"/>
            <result property="roleName" column="rname" jdbcType="VARCHAR"/>
            <result property="roleStartTime" column="rstarttime" jdbcType="DATE"/>
            <result property="roleStopTime" column="rstoptime" jdbcType="DATE"/>
            <result property="roleStatus" column="rstatus" jdbcType="VARCHAR"/>
            <result property="roleNote" column="rnote" jdbcType="VARCHAR"/>
        </association >
    </resultMap>



    <select id="selectAllRlById" resultMap="upmsRofuTQuery">
        select rl.ROLE_NAME rname, rl.ROLE_ID rid,rl.ROLE_NO rno,rl.ROLE_STARTTIME rstarttime,rl.ROLE_STOPTIME rstoptime,
               rl.ROLE_STATUS rstatus,rl.ROLE_NOTE rnote,
               rf.ROFU_USERID userid,rf.ROFU_NOTE note
        from UPMS_ROLE_T rl
        left join UPMS_ROFU_T rf on rl.ROLE_NO = rf.ROFU_ROLEID AND rf.ROFU_USERID=#{uid} AND rf.DELETE_FLAG='N'
        where rl.DELETE_FLAG='N'
    </select>

</mapper>
